@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.hero-container{
    font-family: 'Inter', sans-serif;
    max-width: 100%;
    background-color: white;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
  
.btn-modal{
    width: 300px;
    height: 80px;
    margin-top: 50px;
    border-radius: 10px;
    font-size: 18px;
    background-color: #0165AC;
    color: white;
}

.btn-modal:hover{
    text-decoration: underline;
}

.modal-content{
    position: relative;
    top: 20%;
    height: 600px;
    width: 400px;
    padding: 20px;
    background-color: white;
    margin: 0px auto;
}

.modal-course-name, .modal-year-commencement, .modal-study-load, .year-12-units{
    font-size: 17px;
    color: #111111;
}

.plan-name, .commencement-year, .study-load{
    width: 96%;
    height: 40px;
    border-radius: 10px;
    border-width: 1px;
    border-color: #bebebe;
    margin-bottom: 10px;
}

.create-plan{
    color: #0165AC;
    font-size: 28px;
    margin-bottom: 10px;
}

.close-modal{
    position: absolute;
    right: 20px;
    background-color: white;
    border-style: none;
    font-weight: bold;
}

.year-12-units{
    margin-top: 10px;
}

.create-plan-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0165AC;
    margin-top: 30px;
    width: 80px;
    height: 40px;
    color: white;    
    border-style: none;
}

.year-12-units-status{
    display: flex;
    flex-direction: column;
    
}