.header-popup-container{
  border-bottom: solid;
  padding: 0px 0px 10px 0px;
  border-width: 1px;
  border-color: rgba(192, 192, 192, 0.479);
  display: flex;
  justify-content: space-between;
}

.top {
  display: flex;
  align-items: center;

}

.left-popup {
  width: 60%;
  height: 100%;
}

.right-popup{
  height: 200px;
  border-left: solid;
  margin-left: 20px;
  padding-left: 20px;
  width: 300px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.ant-modal-title{
  padding: 0px;
  font-size: 30px;
  margin-bottom: -100px;
}

.ant-modal-content{
  height: 100%;
}

.right-title{
  font-size: 18px;
  margin: 0px;
  font-weight: 500;
}

.bottom-popup-container{
  margin-top: -100px;
  position: relative;
  background-color: white;
  overflow-y: scroll;
  height: 200px;
}

.right-unit-info-container{
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 12px;
}

.right-unit-info-header{
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0px;
  margin-right: 5px;

}

.overview-header{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0px;

}